---
layout: page
title: 
subtitle: 
---
<!-- Page links -->
<style> 
	body22 { background:url(img/sky.jpg); background-size: auto 100vh  }
	footer { background:transparent; border:none }
	a { color: purple }
</style>
         <img src="img/First flight.png" style="display:block"/>
         <br>
         <div class="sticky-posts" style="text-align:center;">
             <h2><a href="{{ site.baseurl }}whatisairnote/index.html">What is AirNote?</a></h2>
             <h2><a href="{{ site.baseurl }}features/index.html">Features</a></h2>
             <h2><a href="{{ site.baseurl }}reference/index.html">Reference</a></h2>
             <h2><a href="{{ site.baseurl }}download/index.html">Download Demo</a></h2>
         </div>


{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

</body>
</html>
