---
layout: main-page
title: AirNote
subtitle: 
---
<!-- Page links -->
 
 <img src="img/First flight.png" style="margin:10%; display:block">
 
         <div class="sticky-posts" style="text-align:center;">
             <h2 class="post-title"><a href="{{ site.baseurl }}whatisairnote/">What is AirNote?</a></h2>
             <h2 class="post-title"><a href="{{ site.baseurl }}features/">Features</a></h2>
             <h2 class="post-title"><a href="{{ site.baseurl }}airnoteforevernote/">AirNote for Evernote</a></h2>
         </div>


{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

</body>
</html>
