---
layout: base
---

{% include header.html type="page" %}

<style>
	.screen-frame { border: 20px solid }
</style>
	
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  	{% if page.img %}
  	   <table width=100%><tr>
  	   <td class="screen-frame"><img src="{{ site.baseurl }}{{page.img}}"></td>
  	   {% if page.img2 %}
  	   <td class="screen-frame"><img src="{{ site.baseurl }}{{page.img2}}"></td>
  	   {% endif %}
  	   </tr></table>
  	   <br>
  	{% endif %}
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
